<!-----------------------------------------------------------------------
--Authors:
--Date:
------------------------------------------------------------------------->
<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
      <link href="Styles.css" type ="text/css" rel="stylesheet"/>
    <title>Moto Rides</title>
  </head>

   <!-----------------Banner Image, Title, and horizontal menu bar--------------->
   <body>
    <div>
      <div>
       <div class="column">
          <div id="banner" class="carousel">
            <img src="Content/Images1.1/pexels-tomas-malik-4090355.jpg">
          <div id="header" class="carousel-caption">
          <h1>Moto Rides</h1></div>
          </div>
          <div class="background">
    <!---------------------------Horizontal menu bar----------------------------->
          <div class="menu-padding">
            <nav>
              <ul class="menu-area">
                <li><a href="/home">Home</a></li>
                <li><a href="/findRide">Find A Ride</a></li>
                 <li><a href="/profile">My Profile</a></li>
                <li><a href="/admin">Admin</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
  </div>
</div>
</br>
 <!-------------------------------------  Main  --------------------------------------->
{{{body}}}
<div height="20px">
  </br></br></br></br>
</div>
  <!-------------------- Bootstrap & jquery footer **Do Not Modify** ---------------------->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
  </body>
</html>