<h4><center>Welcome to Moto Ride Match!</center></h4>

<div class="container" width="50%">
<p><center>Moto Ride Match was created as a place to find and track your favorite rides! To begin, create an account or log in on the "My Profile" page,
and enter your bike's information. Then you can begin to find your next ride on the "Find a ride" page, or stay on the profile page and enter in the details
 of a ride you've already taken</center></p>
</br>
</br>
<h5><b>Ways to Find a Ride:</b></h6> 
 <p>Once you have made an account, you can filter through possible rides based on the type of terrain you would like to ride, and select a ride that suites your needs based on following ride qualities:
 </p>
 <ul>
    <li>Route Name</li>
    <li>Terrain Type</li>
    <li>Distance</li>
    <li>Difficulty</li>
    <li>Location</li>
 </ul>
 <Center><h5>Our list of curated routes will always provide a great adventure! </br>Enjoy and ride safe!</h5></Center>
</br>
</br>
</br>
</br>
</br>
</div>

<div class="container" width="10%">
<center><h5>Not convinced that it'll be a great ride? Take it from one of our user reviews!</h5>
</br>
<p>"I used to just wander around on my bike, but now that I've found MotoRideMatch I can do a different ride every day!"<b> - Pam</b></p>
<p>"Now that I can find routes easily, I can actually go somewhere instead of sitting in my garage revving the engine. It's neat"<b> - Homer</b></p>
<p>"Much better than just doing donuts in my neighbors yard"<b> - Stacy</b></p>
</center>
</div>

{{!-- <div class="container" width="50%">
<form action="submit" method="POST"></form>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">rider_ID</th>
        <th scope="col">first_name</th>
        <th scope="col">last_name</th>
        <th scope="col">dob</th>
        <th scope="col">email</th>
        <th scope="col">city</th>
        <th scope="col">state</th>
        <th scope="col">zip</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <th>Assigned</th>
            <th scope='col'><input type="text" name="first_name" placeholder="First Name" size="10" required></th>
            <th scope='col'><input type="text" name="last_name" placeholder="Last Name" size="10" required></th>
            <th scope='col'><input type="text" name="dob" placeholder="dob" size="10" required></th>
            <th scope='col'><input type="text" name="email" placeholder="email" size="10" required></th>
            <th scope='col'><input type="text" name="city" placeholder="city" size="10" required></th>
            <th scope='col'><input type="text" name="state" placeholder="state" size="10" required></th>
            <th scope='col'><input type="text" name="zip" placeholder="zip" size="10" required></th>
        </tr>
    <td></br></td>
    <td></br></td>
    <td></br></td>
    </tbody>
  </table>
      <center>
        <button type="submit" class="btn btn-outline-dark btn-small">Insert</button>
        <button type="submit" class="btn btn-outline-dark btn-small">Update</button>
        <button type="submit" class="btn btn-outline-dark btn-small">Delete</button>
      </center>
</form>
</div> --}}